.container {
    margin: 10px auto 50px;
    width: 96%;
}

.leftButton,
.rightButton {
    position: absolute;
    top: 24px;
    right: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    box-shadow: 0 0 1px 2px var(--primary-color);
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
}

.leftButton:hover,
.rightButton:hover {
    background-color: var(--primary-dark-color);
    box-shadow: 0 0 1px 2px var(--primary-dark-color);
}

.rightButton {
    right: 26px;
}

.arrowIcon {
    fill: #fff;
}

.teaTypeBox {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 225px;
    overflow: hidden;
}

.teaType {
    position: relative;
    min-width: 225px;
    height: 340px;
}

.teaTypeImage {
    width: 100%;
    filter: opacity(100%);
    transition: filter .3s;
}

.teaTypeTitle {
    margin: 10px 0 10px 7px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    filter: grayscale(0);
    transition: filter .3s;
}

.teaTypeText {
    padding: 0 7px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
}

.teaTypeButton {
    position: absolute;
    bottom: 0;
    right: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: filter .3s;
}

.teaTypeButton:hover {
    background-color: var(--primary-dark-color);
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
}

.descriptionClose {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
}

.descriptionIcon {
    fill: var(--primary-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: fill .3s;
}

.descriptionIcon:hover{
    fill: var(--primary-dark-color);
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
}

.descriptionTitle {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.descriptionImage {
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
}

.descriptionText {
    padding: 5px;
}

.descriptionText h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.descriptionText p {
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

.descriptionButton {
    margin: 20px auto 0;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    width: 250px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color .3s;
}

.descriptionButton:hover {
    background-color: var(--primary-dark-color);
}

@media (min-width: 480px) {

    .teaTypeBox {
        width: 460px;
    }

    .teaType {
        margin-right: 10px;
    }
}

@media (min-width: 576px) {

    .teaType {
        height: 360px;
    }
}


@media (min-width: 720px) {

    .teaTypeBox {
        width: 695px;
    }

    .teaType {
        height: 380px;
    }
}

@media (min-width: 992px) {

    .container {
        padding: 0 20px;
    }

    .leftButton,
    .rightButton {
        right: 100px;
        width: 40px;
        height: 40px;
    }

    .rightButton {
        right: 40px;
    }

    .arrowIcon {
        width: 30px;
        height: 30px;
    }

    .teaTypeBox {
        width: 930px;
    }

    .teaType {
        height: 400px;
    }

    .teaTypeText {
        font-size: 1.1rem;
    }
}