.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 94%;
    max-width: 340px;
    height: 46px;
}

.text {
    padding: 5px 10px;
    font-size: 1.4rem;
    text-align: center;
}

.inputBoxCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 15px;
}
@media (min-width: 768px) {

    .inputBox {
        height: 44px;
    }
}