.top {
    display: none;
}

@media (min-width: 992px) {

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 0;
        width: 100vw;
        background-color: var(--grey-light);
    }

    .topBoxItem {
        display: flex;
        align-items: center;
        padding-right: 15px;
    }

    .topBoxItemText {
        padding-left: 8px;
        cursor: default;
    }

    .topBoxItemText a {
        text-decoration: none;
    }

    .spanFree {
        font-weight: 600;
        color: var(--primary-color);
    }

    .spanGuarantee {
        font-weight: 600;
        color: var(--secondary-color)
    }

    .topBoxItem a {
        display: flex;
        align-items: center;
        padding-right: 8px;
        filter: opacity(50%);
    }

    .topBoxItem a:hover {
        filter: opacity(100%);
    }
}