.container{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin: 10px auto 50px;
    padding: 10px;
    width: 96%;
}

@media (min-width: 992px) {
    .container{
        padding: 10px 20px;
    }
}