.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
}

.inputBox {
    margin: 16px 0;
    width: 94%;
    max-width: 340px;
    height: 46px;
}

@media (min-width: 768px) {

    .inputBox {
        height: 44px;
    }
}