.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2.6rem;
    font-weight: 600;
}

.categoryTypeBox {
    display: flex;
    gap: 10px;
}

.categoryType {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.image {
    width: 90%;
    max-width: 450px;
}

.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.priceAndOrderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceBox {
    display: flex;
    align-items: end;
}

.price {
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 3.4rem;
    color: var(--primary-color)
}

.numberOfUnits {
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic;
}

.orderDetailsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.orderDetailButton {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 15px 0 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--secondary-color);
}

.productDetailTitle {
    margin-bottom: 4px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
}

.productDetailDescription {
    font-size: 1.2rem;
}

.none {
    display: none;
}

.productDetailInfo {
    margin: 15px 0;
    width: 100%;
    font-size: 1.2rem;
}

.brewBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

}

.brew {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 40%;
}

.brewImage {
    margin-bottom: 10px;
}

.brewTitle {
    font-size: 1.6rem;
    color: var(--primary-color)
}

.brewText {
    text-align: center;
    font-size: 1.4rem;
}

@media (min-width: 576px) {

    .priceAndOrderBox {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .priceBox,
    .orderDetailsBox {
        width: 50%;
    }

    .price {
        padding-left: 60px;
        font-size: 4.6rem;
        line-height: 4.6rem;
    }

    .brew {
        width: 25%;
    }
}

@media (min-width: 992px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
        padding: 40px 10px;
    }

    .titleBox {
        position: relative;
        width: 100%;
    }

    .title {
        padding: 0 40px;
        text-align: center;
        background-color: #fff;
    }

    .title::after {
        position: absolute;
        top: 24px;
        left: -10px;
        display: block;
        content: '';
        width: 100vw;
        max-width: 1440px;
        height: 2px;
        z-index: -1;
        background-color: var(--grey-light);
    }

    .image {
        padding-right: 20px;
        width: 40%;
    }

    .productDetail {
        width: 60%;
    }

    .priceBox,
    .orderDetailsBox {
        width: 50%;
    }

    .price {
        padding-left: 10px;
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    .numberOfUnits {
        font-size: 1.3rem;
    }

    .orderDetailButton {
        cursor: pointer;
    }

}