.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    background-color: var(--grey-light);
}

.info,
.contact,
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    padding: 5px 0;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.text {
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.text span{
    font-weight: 500;
}

.text a{
    text-decoration: none;
}

.contact .text:nth-child(4){
    padding-bottom: 12px;
}

@media (min-width: 768px) {

    .container{
        flex-direction: row;
        align-items: start;
    }
}

@media (min-width: 992px) {

    .link {
        text-decoration: none;
        border-bottom: 3px solid transparent;
        transition: border .3s linear;
    }

    .link:hover{
        border-bottom: 3px solid var(--primary-color);
    }
}
