:root{
    font-size: 10px;
    --primary-color: #7ab744;
    --primary-dark-color: #1c8e27;
    --secondary-color: #ff7a01;
    --third-color: #ff0c0c;
    --grey-light: #f2f2f2;
    --grey: #c8c8c8;
    --grey-dark: #6f6f6f;
    --primary-text-color: #282828;
    --secondary-text-color: #f8f8f8;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--grey-light)
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3px;
}

body {
    margin: 0 auto;
    width: 100vw;
    background-color: #fff;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    :root {
        font-size: 11px;
    }
}

@media (min-width: 768px) {
    :root {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    :root {
        font-size: 13px;
    }
}