.container {
    padding: 0 5px 30px;
}

.pageTitle {
    margin: 15px auto;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileDataBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.navList {
    position: relative;
    display: flex;
    padding: 42px 5px 8px;
    width: 100%;
    list-style: none;
}

.navItem {
    margin-right: 10px;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
}

.active {
    background-color: var(--primary-dark-color);
}

.logout {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    text-decoration: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.title {
    padding: 5px;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(--grey-light);
}

.inputBox {
    margin: 16px 0;
    width: 94%;
    max-width: 340px;
    height: 40px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 1.2rem;
}

.tableHead tr {
    border-bottom: 1px solid var(--grey-dark);
}

th, td {
    padding: 5px 0;
}

.tableBody tr:nth-child(even) {
    background-color: var(--grey-light);
}

.historyOrderBoxData {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px 0;
    width: 120px;
}

.text {
    position: relative;
    padding: 4px 0;
    font-size: 1.2rem;
}

.text span {
    position: absolute;
    padding-left: 10px;
    width: 200px;
}

.historyOrderBoxProducts {
    font-size: 1.2rem;
}

.orderItemBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid var(--grey-light);
}

.orderItemBoxLinkImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 100px;
}

.orderItemBox img {
    padding: 10px;
    width: 90%;
}

.orderItemBoxName {
    width: 50%;
    font-size: 1.4rem;
    color: var(--primary-dark-color);
}

.orderItemBoxText {
    width: 10%;
    max-width: 90px;
    font-size: 1.4rem;
    text-align: right;
}


.orderItemBoxTextSum,
.orderItemBoxTextDelivery {
    display: flex;
    justify-content: end;
    padding: 5px 15px;
}

.orderItemBoxTextSum {
    font-weight: 500;
    border-bottom: 2px solid var(--grey-dark);
}

.orderItemBoxTextSum span,
.orderItemBoxTextDelivery span {
    padding-left: 15px;
}

.buttonBack {
    display: flex;
    align-items: center;
    margin: 20px 0 0 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: #fff;
    background-color: var(--grey-dark);
}

.arrowIcon {
    width: 20px;
    height: 20px;
    fill: #fff;
}

@media (min-width: 576px) {

    .navList {
        padding: 10px 5px;
    }

    .navItem {
        margin-right: 15px;
        padding: 5px 20px;
    }

    .logout {
        top: 10px;
        right: 0;
    }

    .historyOrderBoxData {
        width: 160px;
    }
}

@media (min-width: 992px) {

    .navItem {
        cursor: pointer;
        box-shadow: 0 0 1px 1px transparent;
        transition: .3s;
    }

    .navItem:hover {
        box-shadow: 0 0 1px 1px var(--primary-color);
    }

    .active:hover {
        box-shadow: 0 0 1px 1px var(--primary-dark-color);
    }

    .logout:hover {
        box-shadow: 0 0 1px 1px var(--secondary-color);
    }

    .tableBody tr {
        cursor: pointer;
    }

    .historyOrderBoxData {
        width: 220px;
    }

    .buttonBack {
        cursor: pointer;
        box-shadow: 0 0 2px 2px transparent;
        transition: .3s;
    }

    .buttonBack:hover {
        box-shadow: 0 0 2px 2px var(--grey-dark);
    }
}