.navBottomTitle,
.navTopItem img,
.displayNone,
.navRestMobileDisplayNone,
.navTopItem:nth-child(5) .arrowDownIcon,
.navTopItem:nth-child(6) .arrowDownIcon {
    display: none;
}

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    overflow-y: auto;
    transition: left .6s;
}

.navActive {
    left: 0;
}

.closeIconBox {
    position: absolute;
    top: 20px;
    right: 20px;
}

.closeIcon {
    width: 60px;
    height: 60px;
}

.navTop,
.navBottom,
.navRestMobile {
    width: 80%;
}

.navRestMobile {
    padding-top: 20px;
}

.navLink {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.navTopItem,
.navTopItemExtraMobile,
.navBottomItem,
.activeNavBottomTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--secondary-text-color);
    width: 100%;
    font-size: 2.6rem;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.arrowDownIcon {
    fill: var(--secondary-text-color);
}

.navBottomItem {
    padding-left: 20px;
    font-size: 2rem;
}

@media (min-width: 576px) {

    .navTop,
    .navBottom,
    .navRestMobile {
        width: 60%;
    }
}

@media (min-width: 768px) {

    .navTop,
    .navBottom,
    .navRestMobile {
        width: 50%;
    }

}

@media (min-width: 992px) {

    .closeIconBox,
    .activeNavBottomTitle,
    .navRestMobile,
    .arrowDownIcon,
    .navTopItemExtraMobile {
        display: none;
    }

    .nav {
        position: static;
        margin-top: 40px;
        background-color: transparent;
    }

    .navBottom,
    .navTop{
        width: 100%;
    }

    .navTop {
        padding: 10px 0;
        border-bottom: 2px solid #bebebe;
        background-color: var(--grey-light);
    }

    .displayNone {
        display: flex;
    }

    .navTopList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navTopItem {
        justify-content: center;
        border: none;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--primary-text-color);
        cursor: pointer;
    }

    .navTopItem img {
        display: block;
        padding-right: 15px;
        filter: grayscale(100%);
        transition: filter .3s;
    }

    .navTopItem:hover > img {
        filter: grayscale(0);
    }

    .navBottomList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }

    .navBottomItem {
        padding: 0 25px;
        border:none;
        width: auto;
        font-size: 1.2rem;
        line-height: 2.2rem;
        color: #585858;
        cursor: pointer;
    }

    .navBottomItem:hover{
        color:var(--primary-color)
    }

}