.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    width: 96vw;
    z-index: -1;
}

.slider img {
    width: 100%;
}

.sliderNav {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.sliderNavButton {
    border: 1px solid var(--primary-color);
    width: 2vw;
    max-width: 20px;
    height: 2vw;
    max-height: 20px;
    cursor: pointer;
}

.sliderNavButton.active,
.sliderNavButton:hover {
    background-color: var(--primary-color);
}

@media (min-width: 992px) {

    .slider {
        width: 100vw;
        max-width: 1200px;
    }

    .sliderNav {
        position: absolute;
        left: 80px;
        bottom: 20px;
    }

    .sliderNavButton {
        border: 2px solid var(--primary-color)
    }
}